@model ReceptSkapaNyVM
<form asp-controller="Recept" asp-action="SkapaNy">
    <label asp-for="Namn"></label>
    <input asp-for="Namn" />
    <span asp-validation-for="Namn"></span>

    <label asp-for="ReceptBeskrivning"></label>
    <input asp-for="ReceptBeskrivning" />

    <label asp-for="AntalPortioner"></label>
    <select 
        asp-for="ValdaAntalPortioner" 
        asp-items="Model.AntalPortioner"></select>
    <span asp-validation-for="ValdaAntalPortioner"></span>
</form>