@model SlumpaMatsedelVM[]


<div class="row" style="margin-top:30px; margin-bottom:40px; margin-left:0px; margin-right:0px;">

    @foreach (var item in Model)
    {
        <div class="card col-3" style="width: 18rem;">
            <img class="card-img-top" src="@item.ImageRefs[0].ImageRef" alt="Card image cap" height="130" width="150">
            <div class="card-body">
                <h6 class="card-title">@item.Namn</h6>
                <a class="btn btn-light" asp-controller="recept" asp-action="VisaRecept" asp-route-id="@item.Id">Visa Recept </a>
            </div>
        </div>
    }
</div>