@model ReceptUppdateraVM


<form asp-controller="Recept" asp-action="Uppdatera">
    <div class="form-group">

        <label asp-for="Namn"></label>
        <input class="col-md-4 form-control" asp-for="Namn" placeholder="Receptnamn" />
        <span asp-validation-for="Namn"></span>
        <br />
        <label asp-for="ReceptBeskrivning"></label>
        <textarea class="form-control" rows="10" asp-for="ReceptBeskrivning" placeholder="Receptbeskrivning"></textarea>
        <br />
        <label asp-for="AntalPortioner"></label>
        <select class="col-md-2 form-control" asp-for="ValdaAntalPortioner"
                asp-items="Model.AntalPortioner"></select>
        <span asp-validation-for="ValdaAntalPortioner"></span>
        <br />
        <label asp-for="ImageRef"></label>
        <input class="col form-control" asp-for="ImageRef" placeholder="Bildlänk" />
        <span asp-validation-for="ImageRef"></span>
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Uppdatera"  style="color:#424B54; Background-color:#F4B3A1" />
</form>
