@model ReceptVisaVM

<h5>@Model.Namn</h5>

<p>@Model.ReceptBeskrivning</p>

<p>@Model.AntalPortionerText</p>
<form method="get" asp-controller="Recept" asp-action="Uppdatera" asp-route-id="@Model.Id">
<input type="submit" class="btn btn-light" value="Uppdatera"  style="color:#424B54; Background-color:#F4B3A1"/>
</form>
