@model ReceptVisaVM

<h5>@Model.Namn</h5>

<p>@Model.ReceptBeskrivning</p>

<p>@Model.AntalPortioner</p>
<form method="get" asp-controller="Recept" asp-action="Uppdatera" asp-route-id="@Model.Id">
<input type="submit" class="btn btn-primary" value="Uppdatera"/>
</form>
